//
// Resource file to add our KAT data directly into our binary.
//
// Copyright (c) Microsoft Corporation. Licensed under the MIT license.
//

kat_hash.dat                    KAT_HASH                        "..\kat_hash.dat"
kat_mac.dat                     KAT_MAC                         "..\kat_mac.dat"
kat_xof.dat                     KAT_XOF                         "..\kat_xof.dat"
kat_cxof.dat                    KAT_CXOF                        "..\kat_cxof.dat"
kat_kmac.dat                    KAT_KMAC                        "..\kat_kmac.dat"
kat_blockcipher.dat             KAT_BLOCK_CIPHER                "..\kat_blockcipher.dat"
kat_authenc.dat                 KAT_AUTHENC                     "..\kat_authenc.dat"
kat_streamcipher.dat            KAT_STREAM_CIPHER               "..\kat_streamcipher.dat"
kat_rng.dat                     KAT_RNG                         "..\kat_rng.dat"
kat_kdf.dat                     KAT_KDF                         "..\kat_kdf.dat"
kat_xts.dat                     KAT_XTS                         "..\kat_xts.dat"
kat_ecdsa.dat                   KAT_ECDSA                       "..\kat_ecdsa.dat"
kat_IEEE802_11SaeCustom.dat     KAT_SAE_CUSTOM                  "..\kat_IEEE802_11SaeCustom.dat"
kat_rsaSign.dat                 KAT_RSA_SIGN                    "..\kat_rsaSign.dat"
kat_rsaEnc.dat                  KAT_RSA_ENC                     "..\kat_rsaEnc.dat"
kat_dh.dat                      KAT_DH                          "..\kat_dh.dat"
kat_dsa.dat                     KAT_DSA                         "..\kat_dsa.dat"



